<div ng-controller="GWGmaAuthGetTokenTestController">
	<div class="col-md-offset-1">Gma Auth -> Get Token</div>
	<div>
		<div class="col-md-offset-1 col-md-10">
			<div class="row">
				<div class="col-md-6">
					<div style="text-decoration: underline;">REQUIRED</div>
					<div>TAM Domain <input type="text" ng-model="inputs.client.domain"></input></div>
					<div>token: {{inputs.token}}</div>
				</div>
				<div class="col-md-6">
					<div style="text-decoration: underline;">OPTIONAL</div>
				</div>
			</div>
		</div>
	</div>
</div>
